.overview {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin-bottom: 5rem;
  @media screen and (max-width: 900px) {
    gap: 3rem;
  }
  @media screen and (max-width: 600px) {
    gap: 1rem;
    flex-direction: column;
    .avatarContainer div {
      width: 10rem;
      height: 10rem;
    }
  }
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    color: #F0EDCCAA;
    margin: 0;
  }
  div {
    border: 1px solid #F0EDCC;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    margin-bottom: 1rem;
    transition: 0.1s ease-in-out;
  }
}

.avatar {
  width: 100%;
  border-radius: 50%;
  /* filter: grayscale(1); */
}

.aboutContent {
  max-width: 30%;
  min-width: 20rem;
  h2 {
    text-align: left;
    font-size: 3rem;
    font-weight: 600;
    color: #00ADB5;
    padding-bottom: none;
  }
  p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
}

.location {
  color: #F0EDCC50;
}

.button {
  /* background-color: #F0EDCC; */
  border: 1px solid #F0EDCC;
  padding: 0.5rem 1rem;
  margin-left: 0;
  border-radius: 2rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  width: 9rem;
}

.button:hover {
  color: #070e0d;
  background-color: #F0EDCC;
  scale: 1.1;
}

.button:active {
  scale: 0.9;
}