.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 10rem 15%;
  overflow-y: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 280px;
  background-color: rgba(10, 10, 10, 0.8);
  border: 1px solid #f0edcc6c;
  padding: 1rem;
  border-radius: 4%;
  img {
    width: 75%;
    position: absolute;
    z-index: -1;
    opacity: 0.1;
  }  
  p {
    flex-grow: 2;
    margin-bottom: 0;
  }
}

.card:hover {
  box-shadow: 0 0 0.5rem #F0EDCC;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #F0EDCC;
  border: 1px solid #F0EDCC;
  border-radius: 20px;
  padding: 0rem 0.5rem 0.1rem;
  cursor: pointer;
  transition: 0.1s ease-in-out; 
}

.button:hover {
  color: #070e0d;
  background-color: #F0EDCC;
  scale: 1.1;
}

.button:active {
  scale: 0.9;
}

h2 {
  margin: 0;
  font-size: 1.3rem;
  text-align: center;
}

.stackContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 0.3rem;
  width: 100%;
}

.chip {
  color: #F0EDCC;
  background-color: #0f5053;
  border-radius: 20px;
  padding: 0rem 0.5rem 0.1rem;
  /* opacity: 0.8; */
}