a {
  text-decoration: none;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  /* min-height: 4vh; */
  width: 100%;
  z-index: 10;
  backdrop-filter: blur(3px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 6px;
  position: fixed;
  top: 0;
} 

.navItems {
  display: flex;
  gap: 2rem;
  padding-right: 2rem;
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.navTitle {
  font-family: "Bungee Shade", sans-serif;
  color: #00ADB5;
  font-size: 3rem;
  padding-left: 0.5rem;
  transition: 0.1s ease-in-out;
}

.navTitle:hover {
  scale: 1.1;
}

.navTitle:active {
  scale: 0.9;
}

.navItem {
  font-size: 1.1rem;
  border-bottom: 1px solid transparent;
  transition: 0.1s ease-in-out;
}

.navItem:hover {
  scale: 1.1;
  border-bottom: 1px solid #F0EDCC;
}

.navItem:active {
  scale: 0.9;
}

.navMenuButton {
  display: none;
  @media screen and (max-width: 600px) {
    display: block;
    position: absolute;
    right: 1rem;
    z-index: 102;
    :hover {
      cursor: pointer;
      color: #aaa;
    }
  }
}

.mobileMenu {
  z-index: 101;
  width: 65vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #F0EDCC;
  background-color: #070e0d;
  padding-top: 4rem;
}

.mobileMenuItem {
  font-size: 1.5rem;
  list-style-type: none;
  padding: 0.5rem 2rem;
  margin: 0;
  width: 100%;
}

.mobileMenuItem:hover {
  background-color: #F0EDCC;
  color: #070e0d;
}