a {
  text-decoration: none;
}

.navContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 5vh;
  width: 100%;
  z-index: 10;
  backdrop-filter: blur(3px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 6px;
  color: "#F0EDCC";
  position: fixed;
  top: 0;
} 

.navItems {
  display: flex;
  gap: 2rem;
  padding-right: 4rem;
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.navTitle {
  font-family: 'Ojuju', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  position: absolute;
  left: 1rem;
}

.navItem {
  font-size: 1.1rem;
  border-bottom: 1px solid transparent;
}

.navItem:hover {
  border-bottom: 1px solid #F0EDCC;
}

.navMenuButton {
  display: none;
  @media screen and (max-width: 600px) {
    display: block;
    position: absolute;
    right: 1rem;
    z-index: 102;
  }
}

.mobileMenu {
  z-index: 101;
  width: 65vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  gap: 1rem;
  background-color: #070e0d;
  padding-top: 4rem;
}

.mobileMenuItem {
  font-size: 1.5rem;
  list-style-type: none;
  padding-left: 1rem;
}